{% extends "base.html" %}
 {% block title %}Phone Queue{% endblock %}
{% block page_content %}
<div class="row">
                    <!-- column -->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-block">
                               {% if title %}<span class="card-title">{{title}}</span>{% endif %}
                                <a href="" class="btn waves-effect waves-light btn-danger pull-right hidden-sm-down"> Create new</a>

                                {% if subtitle %}<h6 class="card-subtitle">{{subtitle}}</h6>{% endif %}
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>id</th>
                                                <th>Branch</th>
                                                <th>Phone</th>
                                                <th>Sent</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for data in queues %}
                                                <tr>
                                                    <td><a href="#">{{queue.id}}</a></td>
                                                    <td>{{queue.branch.name}}</td>
                                                    <td>{{queue.phone_number}}</td>
                                                    <td>{{queue.sent}}</td>
                                                </tr>
                                            {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}